# Ejercicio 1

Pregunta tipo entrevista de trabajo dificultad: media

Sólo pueden usar las librerías numpy, pandas, y sklearn (no usar eval)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Supongamos que les dan un string con el siguiente contenido
json_str = '[{"name":"eggs","price":1},{"name":"coffee","price":9.99},{"name":"rice","price":4.04}]'

# Ejemplo output esperado
'[{"name":"eggs","price":1},{"name":"rice","price":4.04},{"name":"coffee","price":9.99}]'

Crea una función que ordene los artículos de acuerdo al precio, si hay artículos con el mismo precio, éstos se deben ordenar alfabeticamente

In [ ]:
def su_funcion(string):
  pass

In [ ]:
# pd.DataFrame(json_str)

{"name":"eggs" "price":1}
{"name":"coffee" "price":9.99}
{"name":"rice" "price":4.04}

       name  price
0    "eggs"   1.00
1  "coffee"   9.99
2    "rice"   4.04

# Ejercicio 2: KNN

In [ ]:
import pandas as pd
import math
import sklearn
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler


def distance(data_loan, data_derogatory, test_loan, test_derogatory):
    return (((data_loan - test_loan) ** 2 +
                     100000000 * (data_derogatory - test_derogatory) ** 2)**(1/2))

def applic_approval(data, loan, derogatory_marks, k):
    """
    :param data: (pandas.DataFrame) A DataFrame that contains training data. 
                    It has the following columns: Loan, DerogatoryMarks, Accepted.
    :param loan: (int) Requested loan.
    :param derogatory_marks: (int) Number of derogatory marks for the customer.
    :param k: (int) Coeficient k in the k-nearest neighbors' algorithm.
    :returns: (boolean) True if the customer's loan can be accepted; False otherwise.
    """
    
    return classifier.predict(test)

data = pd.DataFrame({
            'Loan' : [52000, 100000, 97000, 62000],
            'DerogatoryMarks' : [0, 2, 0, 5],
            'Accepted' : [True, True, False, True]
        }, 
        columns = ['Loan', 'DerogatoryMarks', 'Accepted']
    )

# Ejemplo de uso
# print(application_approval(data, 85000, 1, 1))
# [False]

Realiza 2 modelos de KNN uno utilizando la función *distance* y el segundo utilizando la función *MinMaxScaler()* para transformar los datos (k=1 en ambos casos)

**Nota:** No lovides que si se hace una transformación en X_train, también se debe hacer en X_test

In [ ]:
scaler = MinMaxScaler()
loan = 85e3
derogatory_marks = 1
# distance(loan,derogatory_marks,data['Loan'],data['DerogatoryMarks'])

In [ ]:
X = data.drop(columns = ['Accepted'])
y = data['Accepted']

Encuentra un caso en donde los mismos datos den resultados distintos con cada modelo (se puede cambiar el conjunto de data)