# Ejercicio 1

Pregunta tipo entrevista de trabajo dificultad: media

Sólo pueden usar las librerías numpy, pandas, y sklearn (no usar eval)

In [1]:
import pandas as pd
import numpy as np
import json
from pandas import json_normalize

In [2]:
# Supongamos que les dan un string con el siguiente contenido
json_str = '[{"name":"eggs","price":1},{"name":"coffee","price":9.99},{"name":"rice","price":4.04}]'

# Ejemplo output esperado
'[{"name":"eggs","price":1},{"name":"rice","price":4.04},{"name":"coffee","price":9.99}]'

'[{"name":"eggs","price":1},{"name":"rice","price":4.04},{"name":"coffee","price":9.99}]'

Crea una función que ordene los artículos de acuerdo al precio, si hay artículos con el mismo precio, éstos se deben ordenar alfabeticamente

In [3]:
def ordenar(string):
  data = json.loads(string)
  df = json_normalize(data) 
  df=df.sort_values(by=['price','name'])
  return df

In [4]:
ordenar(json_str)

     name  price
0    eggs   1.00
2    rice   4.04
1  coffee   9.99

In [5]:
json2 = '[{"name":"eggs","price":1},{"name":"coffee","price":9.99},{"name":"rice","price":4.04},{"name":"bread","price":1},{"name":"sugar","price":9.99},{"name":"chips","price":4.04},{"name":"oil","price":1},{"name":"lemons","price":9.99},{"name":"cookies","price":4.04}]'

In [6]:
ordenar(json2)

      name  price
3    bread   1.00
0     eggs   1.00
6      oil   1.00
5    chips   4.04
8  cookies   4.04
2     rice   4.04
1   coffee   9.99
7   lemons   9.99
4    sugar   9.99

# Ejercicio 2: KNN

In [7]:
import pandas as pd
import math
import sklearn
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler


def distance(data_loan, data_derogatory, test_loan, test_derogatory):
    return (((data_loan - test_loan) ** 2 +
                     100000000 * (data_derogatory - test_derogatory) ** 2)**(1/2))

def applic_approval(data, loan, derogatory_marks, k):
    """
    :param data: (pandas.DataFrame) A DataFrame that contains training data. 
                    It has the following columns: Loan, DerogatoryMarks, Accepted.
    :param loan: (int) Requested loan.
    :param derogatory_marks: (int) Number of derogatory marks for the customer.
    :param k: (int) Coeficient k in the k-nearest neighbors' algorithm.
    :returns: (boolean) True if the customer's loan can be accepted; False otherwise.
    """
    
    return classifier.predict(test)

data = pd.DataFrame({
            'Loan' : [52000, 100000, 97000, 62000],
            'DerogatoryMarks' : [0, 2, 0, 5],
            'Accepted' : [True, True, False, True]
        }, 
        columns = ['Loan', 'DerogatoryMarks', 'Accepted']
    )

# Ejemplo de uso
#print(applic_approval(data, 85000, 1, 1))
# [False]

Realiza 2 modelos de KNN uno utilizando la función *distance* y el segundo utilizando la función *MinMaxScaler()* para transformar los datos (k=1 en ambos casos)

**Nota:** No lovides que si se hace una transformación en X_train, también se debe hacer en X_test

In [9]:
scaler = MinMaxScaler()
loan = 85e3
derogatory_marks = 1
# distance(loan,derogatory_marks,data['Loan'],data['DerogatoryMarks'])

In [10]:
X = data.drop(columns = ['Accepted'])
y = data['Accepted']

In [25]:
#Modelo de KNN usando MinMxScaler

def applic_approval(data, loan, derogatory_marks, k):
    """
    :param data: (pandas.DataFrame) A DataFrame that contains training data. 
                    It has the following columns: Loan, DerogatoryMarks, Accepted.
    :param loan: (int) Requested loan.
    :param derogatory_marks: (int) Number of derogatory marks for the customer.
    :param k: (int) Coeficient k in the k-nearest neighbors' algorithm.
    :returns: (boolean) True if the customer's loan can be accepted; False otherwise.
    """
    X_train = data.drop(columns = ['Accepted'])
    y_train = data['Accepted']
    X_test= pd.DataFrame({'Loan' : loan,'DerogatoryMarks' : derogatory_marks}, index=[0])

    scaler = MinMaxScaler()
    scaler.fit(X_train)
    x_train = scaler.transform(X_train)
    x_test = scaler.transform(X_test)
    classifier = KNeighborsClassifier(n_neighbors = k)
    classifier.fit(x_train, y_train)

    return classifier.predict(x_test)

In [57]:
applic_approval(data,85000,1,1)

array([ True])

In [ ]:
def distance(data_loan, data_derogatory, test_loan, test_derogatory):
    return (((data_loan - test_loan) ** 2 +
                     100000000 * (data_derogatory - test_derogatory) ** 2)**(1/2))

In [28]:
def applic_approval_distance(data, loan, derogatory_marks, k):
    """
    :param data: (pandas.DataFrame) A DataFrame that contains training data. 
                    It has the following columns: Loan, DerogatoryMarks, Accepted.
    :param loan: (int) Requested loan.
    :param derogatory_marks: (int) Number of derogatory marks for the customer.
    :param k: (int) Coeficient k in the k-nearest neighbors' algorithm.
    :returns: (boolean) True if the customer's loan can be accepted; False otherwise.
    """
    X_train = data.drop(columns = ['Accepted'])
    y_train = data['Accepted']
    X_test= pd.DataFrame({'Loan' : loan,'DerogatoryMarks' : derogatory_marks}, index=[0])
    scaler = distance(X_train[1].X_train[2],loan,derogatory_marks)
    scaler.fit(X_train)
    x_train = scaler.transform(X_train)
    x_test = scaler.transform(X_test)
    classifier = KNeighborsClassifier(n_neighbors = k)
    classifier.fit(x_train, y_train)

    return classifier.predict(x_test)

Encuentra un caso en donde los mismos datos den resultados distintos con cada modelo (se puede cambiar el conjunto de data)

In [56]:
data = pd.DataFrame({
            'Loan' : [52000, 100000, 97000, 62000],
            'DerogatoryMarks' : [0, 2, 0, 5],
            'Accepted' : [True, True, True, False]
        }, 
        columns = ['Loan', 'DerogatoryMarks', 'Accepted']
    )